.cards {
  height: 100%;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px; }

.card_list {
  padding: 0.5rem;
  list-style-type: none; }

.card_item {
  margin: 0 0 0.5rem;
  padding: 0.5rem 0.5rem;
  border-top: 4px solid #757575;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #f2f2f2;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.naranja {
  border-top-color: #F57C00; }

.naranja p.info-foto {
  background: #F57C00;
  text-shadow: 1px 1px rgba(150, 69, 10, 0), 2px 2px #ff7f13, 3px 3px #ff8514, 4px 4px #ff8714, 5px 5px #ff8814, 6px 6px #ff8914, 7px 7px #ff8a14, 8px 8px #ff8a14, 9px 9px #ff8a14, 10px 10px #ff8b14, 11px 11px #ff8b14, 12px 12px #ff8b14, 13px 13px #ff8b14, 14px 14px #ff8b14, 15px 15px #ff8b14, 16px 16px #ff8b14, 17px 17px #ff8b14, 18px 18px #ff8b15, 19px 19px #ff8b15, 20px 20px #ff8c15; }

.naranja:hover .info-nombre_alimento, .naranja:hover .info-dias {
  color: #F57C00; }

.azul {
  border-top-color: #303F9F; }

.azul p.info-foto {
  background: #303F9F;
  text-shadow: 1px 1px rgba(51, 78, 148, 0), 2px 2px #688be6, 3px 3px #6d92ef, 4px 4px #6f94f2, 5px 5px #7095f4, 6px 6px #7196f5, 7px 7px #7197f6, 8px 8px #7297f6, 9px 9px #7297f7, 10px 10px #7297f7, 11px 11px #7298f7, 12px 12px #7298f7, 13px 13px #7398f8, 14px 14px #7398f8, 15px 15px #7398f8, 16px 16px #7398f8, 17px 17px #7398f8, 18px 18px #7398f8, 19px 19px #7398f8, 20px 20px #7398f8; }

.azul:hover .info-nombre_alimento, .azul:hover .info-dias {
  color: #303F9F; }

.azulclaro {
  border-top-color: #0288D1; }

.azulclaro p.info-foto {
  background: #0288D1;
  text-shadow: 1px 1px rgba(51, 78, 148, 0), 2px 2px #688be6, 3px 3px #6d92ef, 4px 4px #6f94f2, 5px 5px #7095f4, 6px 6px #7196f5, 7px 7px #7197f6, 8px 8px #7297f6, 9px 9px #7297f7, 10px 10px #7297f7, 11px 11px #7298f7, 12px 12px #7298f7, 13px 13px #7398f8, 14px 14px #7398f8, 15px 15px #7398f8, 16px 16px #7398f8, 17px 17px #7398f8, 18px 18px #7398f8, 19px 19px #7398f8, 20px 20px #7398f8; }

.azulclaro:hover .info-nombre_alimento, .azulclaro:hover .info-dias {
  color: #0288D1; }

.card_item:hover {
  background: #BDBDBD; }

.card_item:hover .info-foto {
  transform: scale(1.1); }

.card_info {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.card_info .info-alimento {
  display: flex;
  align-items: center; }

.card_info .info-foto {
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  margin: 0 0.5rem 0 0;
  text-align: center;
  border-radius: 50%;
  font-size: 36px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.card_info .info-nombre_alimento {
  line-height: 1.1;
  font-size: 20px;
  margin: 0; }

.card_info .info-nombre_alimento small {
  font-size: 14px; }

.card_info .info-dias {
  margin: 0 10px;
  font-size: 20px; }

@media screen and (max-width: 950px) {
  .cards {
    width: 100%;
    padding: 10px; }

  .card_info .info-nombre_alimento {
    line-height: 1.5;
    font-size: 14px;
    margin: 0; }

  .card_info .info-nombre_alimento small {
    font-size: 14px; }

  .card_info .info-dias {
    margin: 0 10px;
    font-size: 14px; } }
/*CADUCADOS */
.rojo {
  border-top-color: #D32F2F; }

.rojo p.info-foto {
  background: #D32F2F;
  text-shadow: 1px 1px rgba(51, 78, 148, 0), 2px 2px #688be6, 3px 3px #6d92ef, 4px 4px #6f94f2, 5px 5px #7095f4, 6px 6px #7196f5, 7px 7px #7197f6, 8px 8px #7297f6, 9px 9px #7297f7, 10px 10px #7297f7, 11px 11px #7298f7, 12px 12px #7298f7, 13px 13px #7398f8, 14px 14px #7398f8, 15px 15px #7398f8, 16px 16px #7398f8, 17px 17px #7398f8, 18px 18px #7398f8, 19px 19px #7398f8, 20px 20px #7398f8; }

.rojo:hover .info-nombre_alimento, .rojo:hover .info-dias {
  color: #D32F2F; }

.info_dias i {
  color: #D32F2F; }

/**pagination* */
.pagination > li > a,
.pagination > li > span {
  color: #8BC34A; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #8BC34A;
  border-color: #689F38; }

.page-item.active .page-link {
  z-index: 1;
  color: #f2f2f2;
  background-color: #8BC34A;
  border-color: #689F38; }

/*# sourceMappingURL=estilo_card.css.map */
