*{  
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*font-size: 0.99em;*/
}

body {
  background: #EAEAEA;
}

@media screen and (min-width: 950px) {
  header {
    width: 18%;
    position: relative;
  }
}

header nav {  
  width: 90%;
  min-width: 200px;
  margin: 10px auto;
}

.menu_bar {
  display: none;
}

/*.search_btn {
  display: none;
}*/

header nav ul {
  overflow: hidden;
  list-style: none;
}

/*header nav ul li {
  float: left;
}*/

header nav ul li:last-child a{
  border-bottom: none;
}

header nav ul li a {
  color: #757575;
  background-color: #F5F5F5;
  padding: 20px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #BDBDBD;
}

header nav ul li a:hover {
  color: #F5F5F5;
  background-color: #8BC34A;
  text-decoration: none;
}

header nav ul li a i {
  margin-right: 20px;
}

/*section {
  padding: 20px;

}*/

@media screen and (max-width: 950px) {
  header nav {
    width: 75%;
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: auto;
    background-color: #F5F5F5;
    z-index: 1;
  }

  header nav ul li {
    display: block;
  }

  /*header nav ul li:last-child{
    border-bottom: 1px solid #757575;
  }*/

  header {
    width: 100%;
  }

  .menu_bar {
    display: block;
    width: 100%;
    background-color: #8BC34A;
    position: static;
  }

  .menu_btn, /*.search_btn,*/ .trash_btn {
    display: block;
    padding: 20px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
  }

  .trash_btn {
    margin-left: 25px;
  }

  .botones {
    float: right;
  }

  .menu-icono, .menu-icono:hover, .menu-icono:visited, .search-icono, .search-icono:hover, .search-icono:visited, .trash-icono, .trash-icono:hover, .trash-icono:visited {
    font-size: 20px;
    color: #212121;
  }

  .search_btn {
    display: block;
    position: relative;
    float: left;
    top: -50px;
  }

  header nav ul li a {
    border-bottom: none;
  }
}


/****/

header nav ul li:first-child a {
  color: #212121;
  background-color: #8BC34A;
  border-top: 1px solid #aaa;
}

header nav ul li:first-child a:hover {
  color: #F5F5F5;
}


/*boton añadir*/

.btn-floating {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F5F5F5;
  font-size: 20px;
  /*box-shadow: 0px 0px 6px grey;*/
  -webkit-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
  box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
}

.btn-floating i {
  color: #F5F5F5;
}

.btn-floating:hover {
  background: #ff8660;
  width: 63px;
  height: 63px;
}



/*CONTENIDO*/

#contenido {
  display: block;
  position: relative;
  top: -535px;
  float: right;
  width: 75%;
  margin: auto 50px;
}

@media screen and (max-width: 950px) {
  #contenido {
    width: 100%;
    position: relative;
    top: -30px;
    margin-right: 0;
  }
}


/*TITULO*/

.tit1 {
  display: block;
  position: absolute;
  float: right;
  top: 20px;
  left: 70px;
  font-size: 20px;
  line-height: 1.5;
}


/*EN CONSTRUCCION*/

.construccion {
	background: #fcfcfc;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 20px;
}

.constru {
  width: 362px;
  margin: auto;
}

